<!DOCTYPE html>
<html lang="en" ng-app="dss">
<head>
  <meta charset="UTF-8">
  <title>dysysolver</title>

  <link rel="stylesheet" href="./dss.vendor.css">
</head>
<body ng-controller="DssController as vm" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>Моделювання динаміки просторово-часового процеса</h1>
    </div>
  </md-toolbar>

  <md-content class="md-padding">
    <form name="problemForm" ng-submit="vm.submitProblem()">
      <section>
        <md-subheader class="md-primary md-no-sticky">Розмірність задачі:</md-subheader>

        <md-radio-group ng-model="vm.problem.dimension">
          <md-radio-button ng-value="0">(t)</md-radio-button>
          <md-radio-button ng-value="1">(x<sub>1</sub>, t)</md-radio-button>
          <md-radio-button ng-value="2">(x<sub>1</sub>, x<sub>2</sub>, t)</md-radio-button>
        </md-radio-group>
      </section>

      <section>
        <md-subheader class="md-primary md-no-sticky">Досліджуваний процес</md-subheader>

        <md-radio-group ng-model="vm.problem.process">
          <md-radio-button ng-value="vm.processes[0]">G()= ... , u(s)= ..., y(s)= ...</md-radio-button>
          <md-radio-button ng-value="vm.processes[1]">G()= ... , u(s)= ..., y(s)= ...</md-radio-button>
        </md-radio-group>
      </section>

      <section>
        <md-subheader class="md-primary md-no-sticky">Досліджувана область</md-subheader>

        <md-input-container>
          <label>Максимальне значення часу</label>
          <input type="number" ng-model="vm.problem.tMax">
        </md-input-container>

        <md-input-container>
          <label>Мінімальне значення x</label>
          <input type="number" ng-model="vm.problem.xMin">
        </md-input-container>

        <md-input-container>
          <label>Максимальне значення x</label>
          <input type="number" ng-model="vm.problem.xMax">
        </md-input-container>
      </section>

      <section>
        <md-subheader class="md-primary md-no-sticky">Початкові спостереження</md-subheader>

        <md-list>
          <md-list-item>t=<input type="number">, x=<input type="number"></md-list-item>
          <md-list-item>t=<input type="number">, x=<input type="number"></md-list-item>
        </md-list>
      </section>


      <section>
        <md-subheader class="md-primary md-no-sticky">Крайові спостереження</md-subheader>

        <md-list>
          <md-list-item>t=<input type="number">, x=<input type="number"></md-list-item>
          <md-list-item>t=<input type="number">, x=<input type="number"></md-list-item>
        </md-list>
      </section>

      <p>
        <button type="submit">Пошук рішення</button>
      </p>
    </form>
  </md-content>

  <script src="./dss.vendor.js"></script>
  <script src="./dss.js"></script>
</body>
</html>
