<!DOCTYPE html>
<html lang="en" ng-app="dss">
<head>
  <meta charset="UTF-8">
  <title>dysysolver</title>

  <link rel="stylesheet" href="./dss.vendor.css">
</head>
<body ng-controller="DssController as vm" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>Моделювання динаміки просторово-часового процесу</h1>
    </div>
  </md-toolbar>

  <md-content>
    <md-tabs md-dynamic-height="true" md-selected="vm.selectedStepIndex">
      <md-tab label="Модель">
        <md-content class="md-padding">
          <form name="vm.modelStepForm" ng-submit="vm.submitModelStepForm()">
            <md-input-container>
              <label>Функція Гріна G</label>
              <input type="text" name="g" ng-model="vm.problem.model.g" required>
            </md-input-container>

            <md-input-container>
              <label>Розподілене зовнішньодинамічне збурення u(s)</label>
              <input type="text" name="u" ng-model="vm.problem.model.u" required>
            </md-input-container>

            <md-input-container>
              <label>Функція стану процесу y(s)</label>
              <input type="text" name="y" ng-model="vm.problem.model.y" required>
            </md-input-container>

            <md-button class="md-raised" type="button" ng-click="vm.selectStoredModel()">Вибрати збережену модель</md-button>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="vm.modelStepForm.$invalid">Далі</md-button>
          </form>
        </md-content>
      </md-tab>

      <md-tab label="Область" ng-disabled="vm.isAreaStepDisabled()">
        <md-content class="md-padding">
          <form name="vm.areaStepForm" ng-submit="vm.submitAreaStepForm()">
            <md-input-container>
              <label>Час закінчення процесу T</label>
              <input type="number" name="t" ng-model="vm.problem.area.t" required ng-min="0">
            </md-input-container>

            <md-input-container>
              <label>Значення початкової точки x<sub>1</sub></label>
              <input type="number" name="x1" ng-model="vm.problem.area.x1" required ng-max="vm.problem.area.x2">
            </md-input-container>

            <md-input-container>
              <label>Значення кінцевої точки x<sub>2</sub></label>
              <input type="number" name="x2" ng-model="vm.problem.area.x2" required ng-min="vm.problem.area.x1">
            </md-input-container>

            <md-button class="md-raised md-primary" type="submit" ng-disabled="vm.areaStepForm.$invalid">Далі</md-button>
          </form>
        </md-content>
      </md-tab>

      <md-tab label="Початково-крайові умови" ng-disabled="vm.isConditionsStepDisabled()">
        <md-content class="md-padding">
          <form name="vm.conditionsStepForm" ng-submit="vm.submitConditionsStepForm()">
            <md-subheader class="md-no-sticky">
              Початкові умови
              <md-button class="md-fab md-mini" type="button" ng-click="vm.addInitialCondition()">+</md-button>
            </md-subheader>
            <md-list>
              <md-list-item ng-repeat="initialCondition in vm.problem.conditions.initial" layout="row" layout-sm="column">
                <md-input-container>
                  <label>Значення x</label>
                  <input type="number" ng-model="initialCondition.x" required ng-min="vm.problem.area.x1" ng-max="vm.problem.area.x2">
                </md-input-container>

                <md-input-container>
                  <label>Значення y</label>
                  <input type="number" ng-model="initialCondition.y" required>
                </md-input-container>

                <md-button type="button" ng-click="vm.removeInitialCondition(initialCondition)">Видалити</md-button>
              </md-list-item>
            </md-list>

            <md-divider></md-divider>

            <md-subheader class="md-no-sticky">
              Крайові умови
              <md-button class="md-fab md-mini" type="button" ng-click="vm.addBoundaryCondition()">+</md-button>
            </md-subheader>
            <md-list>
              <md-list-item ng-repeat="boundaryCondition in vm.problem.conditions.boundary" layout="row" layout-sm="column">
                <md-input-container>
                  <label>Значення x</label>
                  <input type="number" ng-model="boundaryCondition.x" required>
                </md-input-container>

                <md-input-container>
                  <label>Значення t</label>
                  <input type="number" ng-model="boundaryCondition.t" required ng-min="0" ng-max="vm.problem.area.t">
                </md-input-container>

                <md-input-container>
                  <label>Значення y</label>
                  <input type="number" ng-model="boundaryCondition.y" required>
                </md-input-container>

                <md-button type="button" ng-click="vm.removeBoundaryCondition(boundaryCondition)">Видалити</md-button>
              </md-list-item>
            </md-list>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="vm.conditionsStepForm.$invalid">Далі</md-button>
          </form>
        </md-content>
      </md-tab>


      <md-tab label="M-змінні" ng-disabled="vm.isMVariablesStepDisabled()">
        <md-content class="md-padding">
          <form name="vm.mVariablesStepForm" ng-submit="vm.submitMVariablesStepForm()">
            <md-subheader class="md-no-sticky">
              M<sub>0</sub>
              <md-button class="md-fab md-mini" type="button" ng-click="vm.addM0Variable()">+</md-button>
            </md-subheader>
            <md-list>
              <md-list-item ng-repeat="mVariable in vm.problem.mVariables.m0" layout="row" layout-sm="column">
                <md-input-container>
                  <label>Значення x</label>
                  <input type="number" ng-model="mVariable.x" required>
                </md-input-container>

                <md-input-container>
                  <label>Значення t</label>
                  <input type="number" ng-model="mVariable.t" required>
                </md-input-container>

                <md-button type="button" ng-click="vm.removeM0Variable(mVariable)">Видалити</md-button>
              </md-list-item>
            </md-list>

            <md-divider></md-divider>

            <md-subheader class="md-no-sticky">
              M
              <md-button class="md-fab md-mini" type="button" ng-click="vm.addMVariable()">+</md-button>
            </md-subheader>
            <md-list>
              <md-list-item ng-repeat="mVariable in vm.problem.mVariables.m" layout="row" layout-sm="column">
                <md-input-container>
                  <label>Значення x</label>
                  <input type="number" ng-model="mVariable.x" required>
                </md-input-container>

                <md-input-container>
                  <label>Значення t</label>
                  <input type="number" ng-model="mVariable.t" required>
                </md-input-container>

                <md-button type="button" ng-click="vm.removeM0Variable(mVariable)">Видалити</md-button>
              </md-list-item>
            </md-list>

            <md-button class="md-raised md-primary" type="submit" ng-disabled="vm.mVariablesStepForm.$invalid">Далі</md-button>
          </form>
        </md-content>
      </md-tab>

      <md-tab label="Розв'язок" ng-disabled="vm.isSolutionStepDisabled()">
        <md-content class="md-padding">
          <md-subheader class="md-no-sticky">Умова в серіалізованому вигляді</md-subheader>
          <pre>{{vm.problem | json}}</pre>
          <md-subheader class="md-no-sticky">Розв'язок</md-subheader>
          <pre>...</pre>
        </md-content>
      </md-tab>
    </md-tabs>

  <script src="./dss.vendor.js"></script>
  <script src="./dss.js"></script>
</body>
</html>
